# Лабораторная работа №0

Данная лабораторная работа **предполагает обязательную командную работу** и 

нацелена на то, что бы научить вас правильно "смотреть на данные".

## Задание

Выберете один из трёх датасетов:

[Trending YouTube Video Statistics](https://www.kaggle.com/datasnaek/youtube-new)

[Wine Reviews](https://www.kaggle.com/zynicide/wine-reviews)

[US-Accidents](https://www.kaggle.com/sobhanmoosavi/us-accidents)

и основываясь на данных из них сделайте как можно больше выводов, каждый вывод должен быть отдельно оформлен и подкреплён графиками.

## Правила выполнения

Выполнение данной лабораторной предполагает **работу в команде**. Следовательно, студент без команды не может получить оценку за неё. Команда должна содержать **от 2-х до 5-ти человек**.

После того, как вы сформировали команду и выбрали капитана. Капитан должен отправить в задание "Лабораторная работа 0" сообщение со списком членов своей команды, после чего состав команды менять нельзя.
    
После того, как вы исчерпали свои идеи, загружайте решение в задание "Лабораторная работа 0". Проверяется только решение, которое было загружено первым.
    
Если вы успели сделать задание за время семинара, то вы можете **увеличить баллы своей команды в 2 раза рассказав о проделанной работе остальным**.
    
В этом задании вы соревнуетесь с другими командами, которые выбрали тот же датасет. Максимальное число баллов, которое может получить каждый член команды за это задание 5 (без учёта надбавки за выступление).
    
После того, как все команды загрузили свои решения, мы начинаем проверять ваши решения с тех команд, которые раньше его загрузили. Каждой команде мы засчитываем только те выводы, которых не было в решениях предыдущих команд. Количество засчитанных выводов делится на количество всех уникальных выводов, сделанных всеми командами. Затем максимальное число баллов умножается на данный коэффициент и получается ваша оценка, которая может быть домножена на 2, если вы выступили на семинаре.

### Пример

Пусть в соревновании участвовали 2 команды. 

Первая команда сделала выводы 1, 2, 3 и выступила на семинаре. 

Вторая - сделала выводы 1, 2, 4, 5, 6, 7, 8 и загрузила своё решение после семинара. 

Тогда первая команда получит (3/8) * 5 * 2 ~ 3.75, а вторая (5/8) * 5 ~ 3.1 (второй команде не будут засчитаны выводы 1 и 2)

In [1]:
import pandas as pd
import numpy as np

/Users/dimakoshman/.pyenv/versions/shad_env/lib/python3.9/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
df = pd.read_csv("US Accidents.csv")

In [3]:
df.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-2716600,3,2016-02-08 00:37:08,2016-02-08 06:37:08,40.10891,-83.09286,40.11206,-83.03187,3.230,Between Sawmill Rd/Exit 20 and OH-315/Olentang...,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2716601,2,2016-02-08 05:56:20,2016-02-08 11:56:20,39.86542,-84.06280,39.86501,-84.04873,0.747,At OH-4/OH-235/Exit 41 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Night
2,A-2716602,2,2016-02-08 06:15:39,2016-02-08 12:15:39,39.10266,-84.52468,39.10209,-84.52396,0.055,At I-71/US-50/Exit 1 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Day
3,A-2716603,2,2016-02-08 06:15:39,2016-02-08 12:15:39,39.10148,-84.52341,39.09841,-84.52241,0.219,At I-71/US-50/Exit 1 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Day
4,A-2716604,2,2016-02-08 06:51:45,2016-02-08 12:51:45,41.06213,-81.53784,41.06217,-81.53547,0.123,At Dart Ave/Exit 21 - Accident.,...,False,False,False,False,False,False,Night,Night,Day,Day

In [5]:
df.describe()

,Severity,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Number,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in)
count,1.516064e+06,1.516064e+06,1.516064e+06,1.516064e+06,1.516064e+06,1.516064e+06,4.699690e+05,1.473031e+06,1.066748e+06,1.470555e+06,1.479790e+06,1.471853e+06,1.387202e+06,1.005515e+06
mean,2.238630e+00,3.690056e+01,-9.859919e+01,3.690061e+01,-9.859901e+01,5.872617e-01,8.907533e+03,5.958460e+01,5.510976e+01,6.465960e+01,2.955495e+01,9.131755e+00,7.630812e+00,8.477855e-03
std,6.081481e-01,5.165653e+00,1.849602e+01,5.165629e+00,1.849590e+01,1.632659e+00,2.242190e+04,1.827316e+01,2.112735e+01,2.325986e+01,1.016756e+00,2.889112e+00,5.637364e+00,1.293168e-01
min,1.000000e+00,2.457022e+01,-1.244976e+02,2.457011e+01,-1.244978e+02,0.000000e+00,0.000000e+00,-8.900000e+01,-8.900000e+01,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.000000e+00,3.385422e+01,-1.182076e+02,3.385420e+01,-1.182077e+02,0.000000e+00,1.212000e+03,4.700000e+01,4.080000e+01,4.800000e+01,2.944000e+01,1.000000e+01,4.600000e+00,0.000000e+00
50%,2.000000e+00,3.735113e+01,-9.438100e+01,3.735134e+01,-9.437987e+01,1.780000e-01,4.000000e+03,6.100000e+01,5.700000e+01,6.800000e+01,2.988000e+01,1.000000e+01,7.000000e+00,0.000000e+00
75%,2.000000e+00,4.072593e+01,-8.087469e+01,4.072593e+01,-8.087449e+01,5.940000e-01,1.010000e+04,7.300000e+01,7.100000e+01,8.400000e+01,3.004000e+01,1.000000e+01,1.040000e+01,0.000000e+00
max,4.000000e+00,4.900058e+01,-6.711317e+01,4.907500e+01,-6.710924e+01,1.551860e+02,9.999997e+06,1.706000e+02,1.130000e+02,1.000000e+02,5.804000e+01,1.400000e+02,9.840000e+02,2.400000e+01

In [22]:
df[["Severity", "Temperature(F)"]].groupby(["Severity"]).describe().iloc[:, :3]

         Temperature(F)
                  count       mean        std
Severity
1               27834.0  71.030430  15.961343
2             1176056.0  59.131172  17.975012
3              157749.0  61.840944  19.147374
4              111392.0  58.316400  19.435665

In [23]:
df[["Severity", "Temperature(F)"]].groupby(["Severity"]).describe().iloc[:, :3]
df[["Severity", "Visibility(mi)"]].groupby(["Severity"]).describe().iloc[:, :3]
df[["Severity", "Precipitation(in)"]].groupby(["Severity"]).describe().iloc[:, :3]

         Visibility(mi)
                  count      mean       std
Severity
1               27837.0  9.526448  1.987537
2             1176216.0  9.096329  2.720613
3              156943.0  9.349319  3.918754
4              110857.0  9.100513  3.071846

In [30]:
df[["Severity", "Sunrise_Sunset"]].groupby(["Severity"]).describe().iloc[:, :]

         Sunrise_Sunset
                  count unique  top    freq
Severity
1                 28175      2  Day   23391
2               1212326      2  Day  707769
3                161047      2  Day  111413
4                114433      2  Day   67265

In [25]:
df.columns

Index(['ID', 'Severity', 'Start_Time', 'End_Time', 'Start_Lat', 'Start_Lng',
       'End_Lat', 'End_Lng', 'Distance(mi)', 'Description', 'Number', 'Street',
       'Side', 'City', 'County', 'State', 'Zipcode', 'Country', 'Timezone',
       'Airport_Code', 'Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)',
       'Humidity(%)', 'Pressure(in)', 'Visibility(mi)', 'Wind_Direction',
       'Wind_Speed(mph)', 'Precipitation(in)', 'Weather_Condition', 'Amenity',
       'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway',
       'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal',
       'Turning_Loop', 'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

In [28]:
df.Roundabout

0          False
1          False
2          False
3          False
4          False
           ...
1516059    False
1516060    False
1516061    False
1516062    False
1516063    False
Name: Roundabout, Length: 1516064, dtype: bool

In [45]:
df[["Severity", "Zipcode"]].groupby(["Severity"]).describe().iloc[:, :]

          Zipcode
            count  unique    top  freq
Severity
1           28165    7059  85711   144
2         1211645  143048  91761  3398
3          160947   21063  80216   796
4          114372   40967  97019   247